services:
  mongo-blog:
    build: 
      context: .
      dockerfile: mongo.Dockerfile
      args:
        MONGO_DB_VERSION: ${MONGO_DB_VERSION}
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
    container_name: mongo-blog-container
    expose:
      - "27017"
    volumes:
      - ~/volumes/mongo-blog-volume:/data/db
    restart: always
  node-blog:
    build:
      context: .
      dockerfile: node.Dockerfile
    environment:
      PORT: ${PORT:-3001}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      MONGO_INITDB_HOST: ${MONGO_INITDB_HOST}
      MONGO_INITDB_PORT: ${MONGO_INITDB_PORT}
      JWT_TOKEN_SECRET: ${JWT_TOKEN_SECRET}
      JWT_TOKEN_EXPIRE: ${JWT_TOKEN_EXPIRE}
      JWT_REFRESH_TOKEN_SECRET: ${JWT_REFRESH_TOKEN_SECRET}
      JWT_REFRESH_TOKEN_EXPIRE: ${JWT_REFRESH_TOKEN_EXPIRE}
    expose:
      - "3001"
    container_name: node-blog-containter
    networks:
      - default
      - gateway-network
    restart: always
    depends_on:
      - mongo-blog

volumes:
  mongo-blog-volume:

networks:
  gateway-network:
    name: gateway-network
    external: true
